<?xml version='1.0' encoding='utf-8'?>
<widget id="com.williamagay.fiveseconds" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FiveSeconds</name>
    <description>
        Because each day is unforgettable.
    </description>
    <author email="hello@williamagay.com" href="http://williamagay.com/">
        William AGAY
    </author>
    <access origin="api.fiveseconds.me" />

    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="android-installLocation" value="auto" />
    <preference name="permissions" value="none"/>
</widget>